dev/.snippetManagerEnv
dev/.printscriptEnv
dev/.ruleManagerEnv
dev/.testManagerEnv
dev/.assetEnv
prod/.snippetManagerEnv
prod/.printscriptEnv
prod/.ruleManagerEnv
prod/.testManagerEnv
prod/.assetEnv
.idea